@charset "UTF-8";

/*header*/
/*smart phone*/
    .imglogo {
        width: 200px;
        height: 50px;
        display: block;
        margin: auto;
    }
    .div_index {
        text-align: center;
    }
    ul {
        list-style-type: none;
        display: block;
        margin: 20px 0;
    }
    ul a:hover {
        color: #0bd;
    }
    li {
        padding: 10px;
        color: #3f312b;
        display: inline-block;
    }
/*PC*/
@media (min-width: 415px) {
    .imglogo {
        margin-left: 300px;
        width: 300px;
        height: 80px;
        cursor: pointer;
    }
    ul {
        list-style-type: none;
        width: 350px;
        margin-left: auto;
    }
    ul a:hover {
        color: #0bd;
    }
    li {
        display: inline-block;
        padding: 5px 15px;
        color: #3f312b;
    }
}

/*unity*/
html {
    font-size: 100%;
}
h2 {
    text-align: center;
    color: #3f312b;
    font-family: 'Philosopher', sans-serif;
}
h3 {
    color: #3f312b;
}
p {
    color: #3f312b;
}

/*footer*/
footer {
    background-color: #3f312b;
    width: 100%;
    height: 60px;
    display: block;
}
footer p {
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}
/*index_main*/
.div_index {
    background-image: url(../img/main-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*smart phone*/
    .div_index {
        width: 100vw;
        height: 100vh;
    }
    .index_h2 {
        margin: 40px 0;
        text-align: center;
        font-size: 2rem;
    }
    .index_p {
        text-align: center;
        margin: 20px 0;
    }
    .button_0 {
        font-size: 1.2rem;
        cursor: pointer;
        background-color: #13afe4;
        color: #ffffff;
        border-radius: 5px;
        margin: 30px 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .button_0:hover {
        background-color: #1099c7;
    }
/*PC*/
@media (min-width: 415px) {
    .div_index {
        width: 100%;
        height: 100vh;
    }
    .index_h2 {
        padding: 20px;
        margin-top: 50px;
        margin-bottom: 0;
        text-align: center;
        font-size: 4.8rem;
    }
    .index_p {
        text-align: center;
    }
    .button_0 {
        font-size: 1.2rem;
        cursor: pointer;
        background-color: #13afe4;
        color: #ffffff;
        border-radius: 5px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .button_0:hover {
        background-color: #1099c7;
    }
}

/*news_body*/
.div_news {
    background-image: url(../img/news-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    width: 100vw;
}
/*2カラム書き直し*/
/*smart phone*/
    .div_news {
        height: 300px;
    }
    .news_img {
        width: 100%;
        height: 50%;
    }
    .time_news {
        flex-direction: column;
        text-align: center;
        background-color: #13afe4;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        margin: 0;
    }
    .time_news p {
        color: #ffffff;
        -webkit-transform: translateY(50%);
        transform: translateY(50%);
        display: inline-block;
        margin: 1px 0;
    }
    .time_news_p {
        font-size: 1.5rem;
        text-decoration: underline;
    }
    .all_colomns {
        margin: 50px 0;
    }
    .news_h3 {
        clear: right;
    }
@media ( min-width : 415px ) {
    .news_h2 {
        margin-top: 60px;
    }
    .news_img {
        width: 600px;
    }
    .all_colomns {
        display: -webkit-flex;
        display: flex;
        width: 800px;
        margin: 50px 100px;
        -webkit-flex: 1;
        flex: 1;
    }
    .main_colomns, .side_colomns {
        padding: 2%;
    }
    .main_colomns {
        width: 750px;
    }
    .side_colomns {
        width: 350px;
    }
    .side_colomns li {
        display: list-item;
        text-transform: uppercase;
    }
}

/*menu_body*/
.div_menu {
    background: #626063 url(../img/menu-bg.jpg);
    background-repeat: no-repeat;
    background-blend-mode: screen;
    background-size: 100% 100vh;
}
/*smart phone*/
    .div_menu {
        height: 100vh;
    }
    .menu_h2 {
        margin-top: 50px;
        font-size: 1.8rem;
    }
    .menu_p {
        text-align: center;
        margin: 50px 15px;
    }
    .menu_p p {
        text-align: left;
    }
    .picture_container img {
        width: 350px;
    }
/*PC*/
@media (min-width: 415px) {
    .div_menu, .menu_h2, .menu_p {
        height: 100vh;
        width: 100vw;
    }
    .menu_h2 {
        padding: 20px;
        margin-top: 55px;
        text-align: center;
        font-size: 3.5rem;
    }
    .menu_p {
        width: 460px;
        text-align: center;
        margin: 0;
        border: 0;
        /*word-wrap: normal;*/
    }
    .picture_container {
        display: grid;
        grid-template-areas:
            "a a b"
            "a a c"
            "d e f"
            "g h i";
        grid-template-columns: 500px 500px 500px;
        grid-template-rows: 300px 300px 300px;
        grid-gap: 50px;
        height: 800px;
    }
    .picture_a {
        grid-area: a;
    }
    .picture_b {
        grid-area: b;
    }
    .picture_c {
        grid-area: c;
    }
    .picture_d {
        grid-area: d;
    }
    .picture_e {
        grid-area: e;
    }
    .picture_f {
        grid-area: f;
    }
    .picture_g {
        grid-area: g;
    }
    .picture_h {
        grid-area: h;
    }
    .picture_i {
        grid-area: i;
    }
}

/*contact_body*/
.div_contact {
    background: #626063 url(../img/contact-bg.jpg);
    background-repeat: no-repeat;
    background-blend-mode: screen;
    background-size: 100% 100vh;
}
/*smart phone*/
    .div_contact {
    height: 100vh;
    }
    .contact_h2{
    margin: 50px 0;
    font-size: 1.8rem;
    }
/*PC*/
@media (min-width: 415px) {
    .div_contact {
        width: 100vw;
        height: 80vh;
    }
    .contact_h2 {
        top: 150px;
        right: 0;
        bottom: 0;
        left: 200px;
        margin: 0;
        text-align: left;
    }
    .contact_form {
        top: 250px;
        right: 0;
        bottom: 0;
        left: 200px;
        margin: 0;
        text-align: left;
    }
    .text_contact, .email_contact {
        text-align: center;
        display: block;
        padding: 5px 5px;
        margin: 5px 0;
        width: 300px; height: 40px;
        background-blend-mode: screen;
        background-color: transparent;
        border: solid 1px #ffffff;
        border-radius: 10px;
    }
    textarea {
        text-align: center;
        display: block;
        padding: 5px 5px;
        margin: 5px 0;
        width: 500px; height: 130px;
        background-blend-mode: screen;
        background-color: transparent;
        border: solid 1px #ffffff;
        border-radius: 10px;
    }
    .submit_0 {
        display: block;
        margin-left: 150px;
        font-size: 20px;
        cursor: pointer;
        background-color: #13afe4;
        color: #ffffff;
        border-radius: 5px;
    }
    .submit_0:hover {
        background-color: #1099c7;
    }
    .map {
        width: 100%;
        height: 100%;
    }
    .map iframe {
        top: 50px;
        left: 50px;
        width: 100%;
        height: 100%;
        padding-left: 75%; /* = height(高さ) ÷ width(横) × 100 */
    }
}